@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  font-family: "Work sans", sans-serif;
}

@theme {
  --color-primary: #f7fbfd;
  --color-secondary: #2149a9;
  --font-inter: "Inter";
  --text-error: 0.75rem;
  --text-base: 0.625rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
}

.input-box {
  outline: none;
  border: 1px solid #d1d5db;
  padding: 0.6em 0.8em;
  border-radius: 0.375rem;
  font-size: var(--text-sm);
  background-color: var(--color-primary);
}

.submit-button {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--text-sm);
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.submit-button,
.save-button,
.submit {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--text-sm);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover,
.save-button:hover,
.submit:hover {
  background-color: #163580; /* darker blue hover */
}

.cancel-button {
  background-color: #e5e7eb;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--text-sm);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cancel-button:hover {
  background-color: #d1d5db;
}

.p-error {
  color: #ea0a0a;
  font-weight: 500;
  font-size: var(--text-error);
  position: absolute;
  left: 0;
  bottom: -18px;
}

.input-label {
  font-size: var(--text-sm);
  color: #374151;
}

.tags {
  max-width: fit-content;
  padding: 0.6em 0.8em;
  border-radius: 1rem;
  background-color: #b9c9ff55;
  color: rgb(128, 128, 248);
  font-size: var(--text-base);
}
